
<div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-3"><h2 class="text-center">+255 714 240 0939</h2><h2 class="text-center">Mbezi beach Madale</h2></div>
                <div class="col-lg-4">
                    <br/>
                    <ul id="socialList">
                        <li><a href=""><img src="png/008-twitter.png"></a></li>
                         <li><a href=""><img src="png/036-facebook.png"></a></li>
                         <li><a href=""><img src="png/029-instagram.png"></a></li>
                    </ul>
                </div>
            </div>
            <!---top banner-->
            <div class="row">
                <div class="col-lg-3" id="logo" >
                    <!--- logo--->
                   <a href="/"><img src="images/main-logo.png"></a>
                </div>
                <div class="col-lg-9">
                    <div id="linksWrapper">
                        <ul id="links">
                            <li><a href="/">Home</a></li>
                            <li><a href="/services">Services</a></li>
                             <li><a href="/about">About</a></li>
                             <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>