<div id ="map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.6770677856985!2d39.28182031477221!3d-6.80907909507866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4b74a938377f%3A0x31d645290e59b9e8!2sUnique+Academy!5e0!3m2!1sen!2stz!4v1541509469672" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>