<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>vidson</title>
  </head>
  <body>
    <section>
        {{>head}}  
    </section>
    <section id="cards" class="container">
        <!--- cars ---->
    <section id="cars" class="nav-sec">
	
		      <h2 class="page-header">Cars</h2>
                    <div class="row">
                        <div class="col-lg-4 offset-lg-1">
                            <h3>light vehicles</h3>
                            <figure class="figure">
                                 <img class="img-fluid" src="images/Ford.JPG">
                                    <figcaption class="figure-caption text-center">ford ipo marejesho</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-4 offset-lg-1">
                             <p class="jumbotron text-justify">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                        </div>
                    </div>
            
                     <div class="row">
                        <div class="col-lg-4 offset-lg-1">
                            <h3>Heavy vehicles</h3>
                            <figure class="figure">
                                 <img class="img-fluid" src="images/scania.JPG">
                                    <figcaption class="figure-caption text-center">scania lipo matengenezo</figcaption>
                            </figure>
                          
                           
                        </div>
                        <div class="col-lg-4 offset-lg-1">
                             <p class="jumbotron text-justify">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                        </div>
                    </div>
	
            </section>
        
            <!------ Heavy Equipment ------------->
        
            <section id="heavyEquipment" class="nav-sec">

                <h2 class="page-header">Heavy Equipment</h2>
                    
                    <div class="row jumbotron">
                        <div class="col-lg-4">
                            <h3>Caterpillar</h3>
                                 <figure class="figure">
                                    <img class="img-fluid" src="images/grader.jpg">
                                    <figcaption class="figure-caption text-center">caterpillar</figcaption>
                                </figure>
                                <p>
                                    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum 
                                </p>
                        </div>
                         <div class="col-lg-4">
                             <h3>Komatsu</h3>
                                 <figure class="figure">
                                    <img class="img-fluid" src="images/komats.jpg">
                                    <figcaption class="figure-caption text-center">komatsu</figcaption>
                                </figure>
                                <p>
                                    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum 
                                </p>
                        </div>
                        
                           <div class="col-lg-4">
                               <h3>Komatsu</h3>
                                 <figure class="figure">
                                    <img class="img-fluid" src="images/jcb.jpg">
                                    <figcaption class="figure-caption text-center">komatsu</figcaption>
                                </figure>
                                <p>
                                    was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum 
                                </p>
                        </div>
                      
                    </div>
                
                    <div class="row">
                
                        <!-------- more heavy equipment ----->
                
                    </div>


            </section>
        
            <!----- Marine Engines ------->

            <section id="MarineEngines" class="nav-sec">

                <h2>Marine Engines</h2>
                    <div class="row jumbotron">
                       
                        <div class="col-lg-4">
                            <p>
                                 was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum   
                            </p>
                        </div>
                        <div class="col-lg-5 offset-lg-3">
                            <figure class="figure">
                                <img src="images/yamaha.jpg" class="img-fluid">
                                    <figcaption class="figure-caption text-center">yamaha</figcaption>
                            </figure>
                        </div>
                      
                    </div>

            </section>
        
            <!------ Clean Water ---->

            <section id="SupplyCleanWater" class="nav-sec">

                <h2 class="page-header">SupplyCleanWater</h2>
                    <div class="row jumbotron">
                        <div class="col-lg-6">
                                  was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum 
                                 was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum 
                        </div>
                        
                        <div class="col-lg-6">
                            <figure class="figure">
                                    <img class="img-fluid" src="images/clean.jpg">
                                    <figcaption class="figure-caption text-center">water Supply Machine</figcaption>
                                </figure>
                        </div>
                    </div>

            </section>
        
            <!------ Waste Collection ------>

       
        
            <!------- Camp Services ------------->

            <section id="CampServices" class="nav-sec">

                <h2>Camp Services</h2>
                    
                       <div class="row jumbotron">
                       
                        <div class="col-lg-4">
                            <p>
                                 was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum   
                            </p>
                        </div>
                        <div class="col-lg-5 offset-lg-3">
                            <figure class="figure">
                                <img src="images/camp.jpg" class="img-fluid">
                                    <figcaption class="figure-caption text-center">la kulalia</figcaption>
                            </figure>
                        </div>
                      
                    </div>

            </section>
    </section>
    {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>